<div class="card1">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="card">
                    <div class="text-center">
                        <h1>Partner Login</h1>
                        <h6>Please enter email & password !!</h6>
                    </div>
                    
                        
                            <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">Email address</label>
                              <input type="email" [(ngModel)]="email1" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                              <div style="color: #fff;" id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-3">
                              <label for="exampleInputPassword1" class="form-label">Password</label>
                              <input type="password" [(ngModel)]="password1" class="form-control" id="exampleInputPassword1">
                            </div>
                            <button type="submit" (click)="handleLogin()" class="btn btn-primary">Login</button>
                         
                            <div class="register-link">
                                <p>Don't have an account?
                                    <a routerLink="/partners/-1">Register</a>
                                </p>
                                
                                
                             </div>   
                    
                </div>
    
                
            </div>
        </div>
    </div>
    </div>
