.card1{
    margin-top: 10px;
    border: none;
    width: 1600px;
    height: 1500px;
    padding: 350px;
    position: absolute;
    top: 108%;
    left: 49%;
    
    transform: translate(-50%, -50%);
    background: url(https://images.pexels.com/photos/2263436/pexels-photo-2263436.jpeg?cs=srgb&dl=pexels-teddy-yang-2263436.jpg&fm=jpg);
    background: url(https://images.pexels.com/photos/2263436/pexels-photo-2263436.jpeg?cs=srgb&dl=pexels-teddy-yang-2263436.jpg&fm=jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}

.card{
    margin-top: 10px;
    border: none;
    width: 600px;
    height: 1050px;
    padding: 60px;
    position: absolute;
    top: 40%;
    
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(98, 145, 115);
    background: linear-gradient(90deg, rgb(89, 188, 135) 0%, rgb(8, 84, 3) 100%);
   
}

.card h1,
h6{
    color: #fff;
}

h3{
    color: #fff;
}

label{
    color: #fff;
}