
<h3>show works</h3>

<div *ngFor="let show of shows" class="card " style="display: inline-block; padding: 10px; width: 18rem; background-color:rgb(126, 162, 170); margin: 40px;"
   >  
   
<div class="card-image" >
   <img src="{{show.showimagepath}}" >
</div>

  <div class="card-body" > 
    
    <h5 class="card-title"><b><i>{{show.showname}}</i></b></h5>
    <p class="card-text">{{show.showcategory}}</p>
    <p class="card-text"><b>Date:</b> {{show.showdate}}<br> <b>Time:</b> {{show.showtimings}}</p>
    <p class="card-cost"><b>₹{{show.costcategory}}</b></p>
    </div>
    <div class="card-footer"><a (click)="passingShow(show)"  class="btn btn-primary">Book Tickets</a>
    </div>
</div>







  

  
