



<div class="card1">
    <div  class="container">
        <div class="row">
            <div class="col-md">
                <div class="card">
                   
                    
                    <p>Successfully Logged out</p>
<p>To login again click <a href="http://localhost:4200/login">here</a></p>
                        
                      
                    </div>
                    
                     
                            
                    
                </div>
            </div>
        </div>
        </div>
        
        
    
        
    
    